{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Reports</h2>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Title</th>
            <th>Analysis Source</th>
            <th>Collection Source</th>
        </tr>
    </thead>
    <tbody>
        <tr>
    <td>2025-02-04 14:23</td>
    <td><a href="#">Analysis of Drone Strike on Supply Depot Near Kharkiv</a></td>
    <td>LLMReport</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-04 12:15</td>
    <td><a href="#">Russian Troop Movements Detected Near Belgorod</a></td>
    <td>Translator</td>
    <td>Twitter</td>
</tr>
<tr>
    <td>2025-02-04 11:45</td>
    <td><a href="#">Assessment of Missile Launch from Crimea Targeting Odesa</a></td>
    <td>LLMReport</td>
    <td>News</td>
</tr>
<tr>
    <td>2025-02-04 10:30</td>
    <td><a href="#">Analysis of Ukrainian Drone Strikes on Russian Logistics</a></td>
    <td>Translator</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-04 09:50</td>
    <td><a href="#">New Russian Air Defense Deployments in Luhansk</a></td>
    <td>LLMReport</td>
    <td>Twitter</td>
</tr>
<tr>
    <td>2025-02-04 08:20</td>
    <td><a href="#">Possible Sabotage Operation Targeting Rail Infrastructure</a></td>
    <td>LLMReport</td>
    <td>News</td>
</tr>
<tr>
    <td>2025-02-04 07:40</td>
    <td><a href="#">Footage of Russian T-90M Tanks Near Bakhmut</a></td>
    <td>Translator</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-04 06:30</td>
    <td><a href="#">Intercepted Communications Suggest Artillery Resupply Issues</a></td>
    <td>LLMReport</td>
    <td>Twitter</td>
</tr>
<tr>
    <td>2025-02-03 23:15</td>
    <td><a href="#">Ukrainian Counteroffensive Pressure Mounting in Avdiivka</a></td>
    <td>Translator</td>
    <td>News</td>
</tr>
<tr>
    <td>2025-02-03 22:40</td>
    <td><a href="#">Assessment of Russian Electronic Warfare Capabilities</a></td>
    <td>LLMReport</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-03 21:30</td>
    <td><a href="#">Debunking Disinformation on Alleged Ukrainian Missile Attack</a></td>
    <td>Translator</td>
    <td>Twitter</td>
</tr>
<tr>
    <td>2025-02-03 20:15</td>
    <td><a href="#">New Russian Kamikaze Drone Tactics Observed</a></td>
    <td>LLMReport</td>
    <td>News</td>
</tr>
<tr>
    <td>2025-02-03 19:45</td>
    <td><a href="#">Analysis of Air Raid Sirens in Kyiv Following Missile Launch</a></td>
    <td>Translator</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-03 18:30</td>
    <td><a href="#">Satellite Imagery Suggests Troop Mobilization in Rostov</a></td>
    <td>LLMReport</td>
    <td>Twitter</td>
</tr>
<tr>
    <td>2025-02-03 17:20</td>
    <td><a href="#">New Wave of Iranian Drones Deployed by Russian Forces</a></td>
    <td>Translator</td>
    <td>News</td>
</tr>
<tr>
    <td>2025-02-03 16:10</td>
    <td><a href="#">Assessment of Ukrainian Anti-Tank Missile Strikes in Donetsk</a></td>
    <td>LLMReport</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-03 15:00</td>
    <td><a href="#">Russian Supply Convoy Struck by Artillery in Zaporizhzhia</a></td>
    <td>Translator</td>
    <td>Twitter</td>
</tr>
<tr>
    <td>2025-02-03 14:35</td>
    <td><a href="#">Ukraine Claims Destruction of Russian S-400 System</a></td>
    <td>LLMReport</td>
    <td>News</td>
</tr>
<tr>
    <td>2025-02-03 13:25</td>
    <td><a href="#">New Russian Recruitment Campaigns in Chechnya</a></td>
    <td>Translator</td>
    <td>Telegram</td>
</tr>
<tr>
    <td>2025-02-03 12:10</td>
    <td><a href="#">Ukrainian Partisan Activity in Melitopol Increases</a></td>
    <td>LLMReport</td>
    <td>Twitter</td>
</tr>

    </tbody>
</table> 
</div>
{% endblock %}

